<div class="container m-0 p-0">
   <div class="row  p-3 ms-2">
    <div class="col-sm-3 m-3">
        <div class="row mb-2">
            <a>Shipping and returns</a>
        </div>
        <div class="row mb-2">
            <a>Store policy</a>
        </div>
        <div class="row  mb-2">
            <a> 
                Payment Methods
            </a>
        </div>
    </div>
    <div class="col-sm-3 row m-3 contact">
        <div class="row  mb-2">
            <a></a>
            Contact
        </div>
        <div class="row  mb-2">
            <a type="tel" href="tel:0856565456">
                085-656-5456 
            </a>
        </div>
        <div class="row  mb-2">
            <a href = "mailto: abc@example.com">Send Email</a>
        </div>
    </div>
    <div class="col-sm-3 m-3">
        <div class="row  mb-2">
            <i>

            </i>
            <a>
                Facebook
            </a>
        </div>
        <div class="row  mb-2">
            <i>

            </i>
            <a>
                Instagram
            </a>
        </div>
        <div class="row  mb-2">
            <a>
                Twitter
            </a>
        </div>
    </div>
   </div>
   <div class="row newsletter m-2 p-3">
    <div>
        <h2>
            Subsribe to never miss money saving deals
        </h2>
        <div class="row mb-2 ps-1">
            <input type="email" class=" p-2 " placeholder="Email*" (click)="subscribe()">
        </div>

        <button type="button" class="btn btn-light col-12 bg-white">Subscribe </button>
    </div>

   </div>
   <div class="row p-2 m-0 company">
    <p>&copy; {{getYear()}} Your Company</p>

</div>
</div>


