
<div class="container row p-0 m-2 mt-3 mb-2 justify-content-center">

   <div class="row mx-auto pt-3 pb-3 row1 p-3 mb-5 ">
    
        <h2 class="heading-xlarge mb-2 break-word text-start"> Upgrade Your Online shopping Experience</h2>
        
        <div class="row mt-3">
            <div class="col-xl-7 row">
                <p>Find the latest products at Product Core, the top online store in Gauteng. Shop now and save!</p>
                <div class="row justify-content-end">
                    <div class="col-xl-3  col-3  col-sm-4 mt-5">
                        <button type="button" class="bg-blue-500 text-white font-bold btn bton-btn-primary">
                            Shop Now
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 mt-3">
                <img src="https://via.placeholder.com/500x200" alt="Placeholder Image">
            </div>
        </div>
   </div>

   <div class="row groups mx-auto pb-3 mb-5">
        <div class="row mb-3 group-1 mb-3  mx-auto">
            <h2> Gadgets</h2>
        </div>
        <div class="row">
            <div class="col-12 col-xl-3 product p-0 ">
                <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">

            </div>
            <div class="col-12 product col-xl-3 p-0 ">
                <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">

            </div>
            <div class="col-12 product col-xl-3 p-0 ">
                <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">

            </div>
            <div class="col-12 product col-xl-3 p-0 ">
                <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">

            </div>
        </div>
    </div>

    <div class="row groups mx-auto pb-3">
        <div class="row mb-3 group-1 mb-3  mx-auto">
            <h2> household</h2>
        </div>
        <div class="row">
            <div class="col-3 product p-0 ">
                <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">

            </div>
            <div class="col-3 product p-0 ">
                <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">

            </div>
            <div class="col-3 product p-0 ">
                <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">

            </div>
            <div class="col-3 product p-0 ">
                <img src="https://via.placeholder.com/300x200" alt="Placeholder Image">

            </div>
        </div>
    </div>
   <div class="row"></div>
   <div class="row"></div>
   <div class="row"></div>
   <div class="row"></div>
</div>