
<div class="container p-0">
   <div class="row mx-auto pt-5 pb-5 row1">
    <h2 class="heading-xlarge mb-6 break-word text-center"> Upgrade Your Online shopping Experience</h2>
    <p>Find the latest products at Product Core, the top online store in Gauteng. Shop now and save!</p>
    <div class="row mt-6">
        <div class="col-9 justify-content-center col-sm-6">
            <button class="">
                Shop Now
            </button>

        </div>

    </div>
   </div>
   <div class="row"></div>
   <div class="row"></div>
   <div class="row"></div>
   <div class="row"></div>
   <div class="row"></div>
</div>